<article id='lead'>
	<h1>{{model.fullName}}</h1>
	<p>Name: {{model.fullName}}</p>
	<p>Email: {{model.email}}</p>
	<p>Phone: {{model.phone}}</p>
	<p>Label Status: {{view Ember.Select content=model.STATUSES value=model.status}}</p>
</article>